.imgStyle {
  height: 120px;
  width: 80px;
  border-radius: 5px;
  margin-right: 5px;
}
.nameStyle {
  font-weight: bold;
  color: #ffcb0b;
}
.pageIconStyle {
  height: 20px;
  width: 20px;
}

.linkicon {
  font-size: 25px;
}

.linklist {
  margin: 10px;
}

.titleStyle {
  color: #ffcb0b;
  background-color: rgba(0, 50, 106, 0.8);
}

.container {
   border: 2px; 
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
